extends layout.pug
block content

  //
    ------------------
    START - Mobile Menu
    ------------------
  .menu-mobile.menu-activated-on-click.color-scheme-dark
    .mm-logo-buttons-w
      a.mm-logo(href='index.html')
        img(src='/sciencewebassets/assets/img/logo2.png')
        span Science Web
      .mm-buttons
        .content-panel-open
          .os-icon.os-icon-grid-circles
        .mobile-menu-trigger
          .os-icon.os-icon-hamburger-menu-1
    .menu-and-user
      .logged-user-w
        .avatar-w
          img(alt='', src='/sciencewebassets/assets/img/avatar1.jpg')
        .logged-user-info-w
          .logged-user-name
            | Univelcity
          .logged-user-role
            | Administrator
      //
        ------------------
        START - Mobile Menu List
        ------------------
      //
        ------------------
        END - Mobile Menu List
        ------------------
  //
    ------------------
    END - Mobile Menu
    ------------------
  //
    ------------------
    START - Main Menu
    ------------------
  .menu-w.color-scheme-light.color-style-transparent.menu-position-side.menu-side-left.menu-layout-compact.sub-menu-style-over.sub-menu-color-bright.selected-menu-color-light.menu-activated-on-hover.menu-has-selected-link
    .logged-user-w.avatar-inline
      .logged-user-i
        .avatar-w
          img(alt='', src='/sciencewebassets/assets/img/avatar1.jpg')
        .logged-user-info-w
          .logged-user-name
            | Univelcity
          .logged-user-role
            | Administrator
        .logged-user-toggler-arrow
          .os-icon.os-icon-chevron-down
    h1.menu-page-header
      | Page Header
    ul.main-menu
      li.sub-header
        span Dashboard
      li.selected.has-sub-menu.active
        a(href='index.html')
          .icon-w
            .os-icon.os-icon-layout
          span Overview
      li.selected.has-sub-menu
        a(href='sales.html')
          .icon-w
            .os-icon.os-icon-wallet-loaded
          span Sales
      li.selected.has-sub-menu
        a(href='expense.html')
          .icon-w
            .os-icon.os-icon-zap
          span Expense
      li.selected.has-sub-menu
        a(href='customer.html')
          .icon-w
            .os-icon.os-icon-users
          span Customers
      li.selected.has-sub-menu
        a(href='staff.html')
          .icon-w
            .os-icon.os-icon-user-male-circle2
          span Staff
      li.selected.has-sub-menu
        a(href='inventory.html')
          .icon-w
            strong
              .picons-thin-icon-thin-0179_layers_slides
          span inventory
  //
    ------------------
    END - Main Menu
    ------------------
  .content-w
    .content-i
      .content-box.bg-white
        .element-wrapper.compact.pt-4
          .element-actions
            a.btn.btn-primary.btn-sm(href='/scienceweb/addArticle')
              i.os-icon.os-icon-ui-22
              span Add New Article
          h6.element-header
            | Search
        .container
        form(action=('/scienceweb/searchResult'), method='POST')
          .row
            .col-lg-6.col-xxl-6
              .element-wrapper.pb-1
                .element-search.border-white
                  input.bg-white(placeholder='Type to search for articles...', type='text', name='search')
            .col-lg-3.col-xxl-3
              .element-wrapper.pb-1
                .form-group.mb-0
                  select.form-control.border-light( name='searchType')
                    option(value='topic') TOPIC
                    option(value='year_published') YEAR PUBLISHED
                    option(value='author') AUTHOR
            .col-lg-3.col-xxl-3
              .element-wrapper.pb-1
                button.btn.btn-primary.mt-1.text-white  Search
          //- .row.mt-2
            .col-lg-2.col-xxl-2
              .form-group.mb-0
                select.form-control.border-light(name='', id='')
                  option(value='') AND
                  option(value='') OR
                  option(value='') NOT
            .col-lg-4.col-xxl-4
              // START - CHART
              .element-wrapper.pb-1
                .element-search.border-white
                  input.bg-white(placeholder='Type to search for products...', type='text')
              // END - CHART
            .col-lg-3.col-xxl-3
              .element-wrapper.pb-1
                .form-group.mb-0
                  select.form-control.border-light(name='', id='')
                    option(value='') Topic
                    option(value='') Topic
                    option(value='') Topic
                    option(value='') Topic
            .col-lg-3.col-xxl-3
              .element-wrapper.pb-1
                button.btn.btn-primary.mt-1.text-white  Search
          //- .row
            .col-md-12
              .element-wrapper.text-center
                a.small(href='#')
                  span.os-icon.os-icon-plus
                  |  add a new field
                span.b-r.mr-1
                a.small(href='#')  reset form
          hr
          //- .row
          //- .col-lg-3
            h6 TIMESPAN
            .form-group.row
              .col-sm-8
                .form-check
                  label.form-check-label
                    input.form-check-input.mt-2(checked='', name='optionsRadios', type='radio', value='option1')
                    select.form-control.border-light(name='', id='')
                      option(value='') All Years
                      option(value='') Topic
                      option(value='') Topic
                      option(value='') Topic
                .form-check.mt-3
                  label.form-check-label
                    input.form-check-input(name='optionsRadios', type='radio', value='option2')
                    | From
                    .date-input
                      input.single-daterange.form-control(placeholder='Date of birth', type='text', value='04/12/1978')
                    |                                   To
                    .date-input
                      input.single-daterange.form-control(placeholder='Date of birth', type='text', value='04/12/1978')
  .display-type