
head
  title Dashboard - Overview
  meta(charset='utf-8')
  meta(content='ie=edge', http-equiv='x-ua-compatible')
  meta(content='Dashboard Overview', name='keywords')
  meta(content='Tamerlan Soziev', name='author')
  meta(content='Company expense ', name='description')
  meta(content='width=device-width, initial-scale=1', name='viewport')
  link(href='favicon.png', rel='shortcut icon')
  link(href='apple-touch-icon.png', rel='apple-touch-icon')
  link(href='https://fonts.googleapis.com/css?family=Rubik:300,400,500', rel='stylesheet', type='text/css')
  link(href='/sciencewebassets/assets/bower_components/select2/dist/css/select2.min.css', rel='stylesheet')
  link(href='/sciencewebassets/assets/bower_components/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
  link(href='/sciencewebassets/assets/bower_components/dropzone/dist/dropzone.css', rel='stylesheet')
  link(href='/sciencewebassets/assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css', rel='stylesheet')
  link(href='/sciencewebassets/assets/bower_components/fullcalendar/dist/fullcalendar.min.css', rel='stylesheet')
  link(href='/sciencewebassets/assets/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css', rel='stylesheet')
  link(href='/sciencewebassets/assets/bower_components/slick-carousel/slick/slick.css', rel='stylesheet')
  link(href='/sciencewebassets/assets/css/main.css?version=4.3.0', rel='stylesheet')
  link(href='/sciencewebassets/assets/icon_fonts_assets/picons-thin/style.css', rel='stylesheet')
