.top-menu-controls
  .element-search.autosuggest-search-activator
    input(placeholder='Start typing to search...', type='text')
  //
    ------------------
    START - Messages Link in secondary top menu
    ------------------
  .messages-notifications.os-dropdown-trigger.os-dropdown-position-left
    i.os-icon.os-icon-mail-14
    .new-messages-count
      | 12
    .os-dropdown.light.message-list
      ul
        li
          a(href='#')
            .user-avatar-w
              img(alt='', src='img/avatar1.jpg')
            .message-content
              h6.message-from
                | John Mayers
              h6.message-title
                | Account Update
        li
          a(href='#')
            .user-avatar-w
              img(alt='', src='img/avatar2.jpg')
            .message-content
              h6.message-from
                | Phil Jones
              h6.message-title
                | Secutiry Updates
        li
          a(href='#')
            .user-avatar-w
              img(alt='', src='img/avatar3.jpg')
            .message-content
              h6.message-from
                | Bekky Simpson
              h6.message-title
                | Vacation Rentals
        li
          a(href='#')
            .user-avatar-w
              img(alt='', src='img/avatar4.jpg')
            .message-content
              h6.message-from
                | Alice Priskon
              h6.message-title
                | Payment Confirmation
  //
    ------------------
    END - Messages Link in secondary top menu
    ------------------
  //
    ------------------
    START - Settings Link in secondary top menu
    ------------------
  .top-icon.top-settings.os-dropdown-trigger.os-dropdown-position-left
    i.os-icon.os-icon-ui-46
    .os-dropdown
      .icon-w
        i.os-icon.os-icon-ui-46
      ul
        li
          a(href='users_profile_small.html')
            i.os-icon.os-icon-ui-49
            span Profile Settings
        li
          a(href='users_profile_small.html')
            i.os-icon.os-icon-grid-10
            span Billing Info
        li
          a(href='users_profile_small.html')
            i.os-icon.os-icon-ui-44
            span My Invoices
        li
          a(href='users_profile_small.html')
            i.os-icon.os-icon-ui-15
            span Cancel Account
  //
    ------------------
    END - Settings Link in secondary top menu
    ------------------
  //
    ------------------
    START - User avatar and menu in secondary top menu
    ------------------
  .logged-user-w
    .logged-user-i
      .avatar-w
        img(alt='', src='img/avatar1.jpg')
      .logged-user-menu.color-style-bright
        .logged-user-avatar-info
          .avatar-w
            img(alt='', src='img/avatar1.jpg')
          .logged-user-info-w
            .logged-user-name
              | Maria Gomez
            .logged-user-role
              | Administrator
        .bg-icon
          i.os-icon.os-icon-wallet-loaded
        ul
          li
            a(href='apps_email.html')
              i.os-icon.os-icon-mail-01
              span Incoming Mail
          li
            a(href='users_profile_big.html')
              i.os-icon.os-icon-user-male-circle2
              span Profile Details
          li
            a(href='users_profile_small.html')
              i.os-icon.os-icon-coins-4
              span Billing Details
          li
            a(href='#')
              i.os-icon.os-icon-others-43
              span Notifications
          li
            a(href='#')
              i.os-icon.os-icon-signs-11
              span Logout
  //
    ------------------
    END - User avatar and menu in secondary top menu
    ------------------
